@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.reset-link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
  padding: 0;
}

.section-font {
  font-family: "Raleway", sans-serif;
}

.page-header {
  background: #ffe17f;
  position: relative;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
}

.navigation {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-items {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 45px;
  margin-right: 60px;
}

.navigation-item__user {
  flex: 1;
  margin-left: 25px;
}

.navigation-items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.heading-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main__page-container {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.catalog__sub-navigation-items {
  flex-direction: column;
}

.page-header__search-icon {
  margin-left: 15px;
}

.page-header__search-box {
  max-width: 520px;
  width: 100%;
  border: 2px solid #000000;
  border-radius: 50px;
  display: flex;
  height: 40px;
  align-items: center;
}

.search-box-label {
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  all: unset;
  padding: 7px;
  align-items: center;
  flex: 1;
}

.page-header__search-text {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
}

.page-header__search-button {
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  all: unset;
  padding: 5px 40px;
  align-items: center;
  border-left: 2px solid #000000;
}

.page-header__navigation-list {
  display: flex;
  max-width: 1100px;
  width: 100%;
}

.navigation-items-page-header {
  margin-left: 12px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
}

.header-background-image {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  bottom: 35px;
  right: 20px;
}

.header-navigation {
  margin-left: 12px;
}

.navigation-item:last-child {
  margin-left: 18px;
}

.header__navigation-items {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 110px;
  max-width: 1110px;
  z-index: 10;
  position: relative;
}

.catalog__search-sub-navigation-items {
  all: unset;
  cursor: pointer;
  margin-left: 7px;
}

.sub-catalog-items {
  text-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__navigation-item {
  display: flex;
}

.main-page-selection {
  display: flex;
  align-items: flex-start;
  gap: 36px;
}

.main-page-enter-email {
  border-bottom: 1px solid #c4c4c4;
  flex: 1;
}

.popular-products {
  align-items: center;
  display: flex;
}

.page-slider-image {
  margin-top: -145px;
  height: auto;
  max-width: 560px;
  width: 100%;
}

.pagination-button {
  all: unset;
  display: flex;
  justify-content: center;
  width: 20px;
  position: absolute;
  top: 165px;
}

.page-slider-button-next {
  right: 615px;
}

.product-properties {
  display: flex;
  flex-direction: column;
  height: auto;
}

.page-selection {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  margin: 0 40px;
  margin-bottom: 60px;
  padding: 40px 25px;
}

.page-selector {
  gap: 30px;
}

.choose-product-color {
  font-size: 16px;
  line-height: 20px;
  flex-direction: column;
  display: flex;
}

.products-specifics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-link {
  color: #000000;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-size: 18px;
  font-style: normal;
}

.bluetooth-support {
  display: flex;
  flex-direction: column;
}

.gallery-info {
  display: flex;
  flex-direction: column;
  width: 570px;
}

.distance-radius-info {
  display: flex;
  width: 310px;
  justify-content: space-between;
}

.site-product {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.site-products {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
}

.image-product-wrapper {
  height: 160px;
  width: 100%;
  background-color: #ffe17f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information-section {
  display: flex;
}

.shipping-information {
  display: flex;
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.delivery-car-wrapper {
  background-color: #ffe17f;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery-man {
  margin-left: 120px;
  margin-top: 30px;
}
.shipping-info-and-image {
  display: flex;
  align-items: center;
  height: 100%;
}

.delivery-info-and-image {
  height: 100%;
}

.rare-items-shipping {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  padding: 40px 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.footer-social-wrapper {
  display: flex;
}

.main__navigation {
  flex-grow: 1;
}

.main__navigation-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  width: max-content;
}

.navigation-buttons {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
}

.slider-image-info {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 550px;
  margin-top: -25px;
}

.slider-image-more-info {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  align-items: center;
  font-size: 18px;
  background-color: #ffe17f;
  width: 220px;
  height: 8px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  text-transform: uppercase;
  border: 0;
  letter-spacing: 0.2em;
}

.slider-pagination-items {
  display: flex;
  justify-content: center;
}

.slider-pagination-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 14px;
}

.page-footer {
  background-color: #444444;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
  margin-left: 405px;
  margin-right: 325px;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__address {
  max-width: 235px;
  color: #ffffff;
}

.additional-info {
  display: flex;
  margin-bottom: 80px;
}

.catalog-products-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: 360px 360px;
  margin: 0 auto;
  gap: 40px;
  place-content: center;
}

.more-products-wrapper {
  width: 840px;
  text-align: center;
  padding: 20px;
  border: 1px solid #d9d9d9;
  margin: 0 40px;
  margin-bottom: 40px;
}

.flight-distance,
.flight-radius {
  font-size: 36px;
  line-height: 30px;
  font-style: normal;
}

.distance,
.radius {
  font-size: 16px;
}

.information-item-shipping {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  width: 280px;
  color: #ffe17f;
  text-transform: uppercase;
  background-color: #000000;
  height: 40px;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  font-weight: 800;
  justify-content: flex-start;
  padding-right: 120px;
  font-style: normal;
  font-size: 18px;
}

.information-item-guarantee {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  align-items: center;
  font-size: 18px;
  background-color: #ffe17f;
  width: 160px;
  height: 8px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  text-transform: uppercase;
  border: 0;
  letter-spacing: 0.2em;
}

.information-item-credit {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  align-items: center;
  font-size: 18px;
  background-color: #ffe17f;
  width: 160px;
  height: 8px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  text-transform: uppercase;
  border: 0;
  letter-spacing: 0.2em;
}

.information-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shipping {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-us__main {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 40px;
  position: relative;
}

.about-us__features {
  font-weight: 700;
  line-height: 20px;
}

.about-us__features li::before {
  content: "\2022";
  color: #ffc700;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.main__more-about-us {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  align-items: center;
  font-size: 18px;
  background-color: #ffe17f;
  width: 270px;
  height: 8px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  text-transform: uppercase;
  border: 0;
  letter-spacing: 0.2em;
  color: #000000;
}

.main__contact {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.main__contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.main__contacts-phone {
  text-decoration: underline;
}

.contact-us-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  align-items: center;
  font-size: 18px;
  background-color: #ffe17f;
  width: 259px;
  height: 8px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  text-transform: uppercase;
  border: 0;
  letter-spacing: 0.2em;
  color: #000000;
}

.subscribe-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}

.footer__enter-e-mail {
  display: flex;
  justify-content: space-between;
}

.footer__information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 810px;
}

.free-notify {
  display: flex;
  align-items: center;
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  padding: 20px;
  border: 1px solid #c4c4c4;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  font-size: 18px;
}

.subscribe {
  background-color: #f0f0f0;
  padding: 60px 0;
}

.footer__social-items {
  display: flex;
  gap: 35px;
  color: #ffffff;
}

.footer__address {
  font-size: 16px;
  line-height: 20px;
}

.contacts-phone-footer {
  color: #ffffff;
  max-width: 180px;
  text-decoration: underline;
}

.shipping-footer {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.guarantee-footer {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.contacts-footer {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.contacts-phone-footer {
  font-size: 16px;
  line-height: 20px;
}

.subscribe-on-link {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.main__page-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 0;
}

.main {
  font-size: 16px;
  line-height: 20px;
}

.products-catalog {
  font-size: 16px;
  line-height: 20px;
}

.main-page-product {
  font-size: 16px;
  line-height: 20px;
}

.main__contacts-address {
  font-style: normal;
}

.filter {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.sorting {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.costing {
  font-weight: 700;
  line-height: 20px;
}

.product-color {
  font-weight: 700;
  line-height: 20px;
}

.bluetooth {
  font-weight: 700;
  line-height: 20px;
}

.bluetooth-support {
  font-size: 16px;
  line-height: 20px;
}

.show-more {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  align-items: center;
}

.catalog-products-items {
  margin: 0 auto;
}

.catalog-page-wrapper {
  background-color: #f0f0f0;
}

.catalog-info {
  background-color: #ffffff;
  padding-top: 70px;
}

.selfie-stick {
  font-weight: 700;
  line-height: 20px;
}

.info-image-wrapper {
  display: flex;
  justify-content: space-between;
}

.price {
  line-height: 21px;
  color: #444444;
}

.more-products {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  justify-content: center;
}

.turn-back-page {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #444444;
}

.turn-next-page {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
}

.selfie-sticks {
  align-items: flex-end;
}

.catalog-wrapper {
  display: flex;
}

.pagination-numbers {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.gray-color {
  color: #444444;
}

.logo-image {
  margin-left: 60px;
}

.decor-footer {
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.decor-main {
  display: block;
  width: 7px;
  height: 319px;
  background-color: #000000;
  position: absolute;
  left: 280px;
  top: 0;
}

.main-page-decor {
  width: 84px;
  height: 7px;
  display: block;
  position: absolute;
  background-color: #000000;
}

.information-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 320px;
}

a {
  text-decoration: none;
}

.shipping-information-wrapper {
  width: 452px;
  margin-left: 160px;
}

.about-us__second-paragraph {
  width: 497px;
}

.about-us__main-subtitle-information {
  width: 497px;
  margin-right: 131px;
}

.main__contacts-address-text {
  width: 515px;
}

.subscribe-on-link-information {
  width: 100%;
  margin-left: 252px;
}

.navigation-item-cart .popover {
  position: absolute;
  right: -75px;
  z-index: 20;
  box-sizing: border-box;
  width: 100vw;
  max-width: 320px;
  padding: 20px 0;
  background-color: #000000;
  box-shadow: 0 18px 40px rgb(79 70 60 / 16%);
  top: 35px;
  display: none;
  flex-direction: column;
}

.popover-cart::before {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  top: -2px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  background: #000000;
  position: absolute;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style-type: none;
  padding: 0 20px;
}

.cart-item {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
}

.cart-item:not(:last-of-type) {
  border-bottom: 1px solid #595959;
  padding-bottom: 24px;
}

.remove-item-button {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
  background: transparent;
  border: none;
}

.cart-item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  margin-left: 20px;
  padding-right: 25px;
}

.popover-cart-quantity {
  background: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}

.open-cart {
  background-color: #ffffff;
  display: block;
  width: 100%;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  max-width: 280px;
  margin: 0 auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.navigation-item-cart {
  position: relative;
}

.navigation-item-cart:hover .popover {
  display: flex;
}

.main-page-style {
  position: relative;
}

.e-mail {
  border: none;
}
